body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}
.header {
  width: auto;
  height: 100vh;

  position: relative;
  margin: 0;
  overflow: hidden;
}
.img {
  margin: 0;
  height: 100vh;
  width: 100%;
}
.section3 h2,
.section3 h1 {
  margin-left: 60px;
}
.gradient {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  position: absolute;

  width: 100%;
  height: 100vh;
  margin: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.logo {
  width: 150px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 150px;
}
nav button {
  border: 0;
  outline: 0;
  background: #db0001;
  color: #fff;
  padding: 7px 20px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 150px;
  margin-top: 10px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-weight: bold;
}
button {
  border: 0;
  outline: 0;
  background: #db0001;
  color: #fff;
  padding: 7px 20px;
  font-size: 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 150px;
  margin-top: 10px;
  margin-left: 10px;
  width: 150px;
  height: 40px;
  text-align: center;
  margin-bottom: 10px;
}
#submit {
  width: 300px;
  height: 40px;
}
.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 150px;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 50%;
  border-top: 5px #303030 solid;
  border-bottom: 5px #303030 solid;
}
.section1 {
  text-align: left;
  padding-left: 200px;
}
body {
  overflow-x: hidden;
}
.tv {
  margin-right: 200px;
}
.main2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 50%;
  border-top: 5px #303030 solid;
  border-bottom: 5px #303030 solid;
}
.mac {
  margin-left: 100px;

  margin-top: 50px;
}
.faq {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq li {
  background-color: #303030;
  width: 1000px;
  height: 50px;
  margin: 5px;
  list-style-type: none;
  text-align: left;
  padding-top: 15px;
  font-size: large;
  font-weight: bold;
  padding-left: 20px;
}
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.plus {
  background-color: #303030;
  float: right;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: larger;
}
.faq h1 {
  font-size: 30px;
}
.preft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  font-weight: bold;

  margin-bottom: 25px;
}
.footer {
  padding: 50px 15% 10px;
  border-top: 5px #303030 solid;
  color: #777;
  max-width: 75%;
  margin: 1rem auto;
  overflow: auto;
}
.footer,
.footer a {
  color: #999;
  font-size: 0.9rem;
}
.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  line-height: 1.9;
}
.footer li {
  list-style-type: none;
}
@media screen and (max-width: 600px) {
  .img {
    width: auto;
    overflow-x: hidden;
  }
  .info {
    font-size: 10px;
  }
  .logo {
    width: 75px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
  }
  nav button {
    margin-right: 20px;
  }
  .section1 {
    font-size: 10px;
    padding-left: 0;
  }
  .section2 .tv {
    width: 300px;
    margin-left: 200px;
  }
  .main {
    flex-direction: column;
    justify-content: center;
  }
  .main2 {
    flex-direction: column-reverse;
    text-align: left;
    justify-content: center;
  }
  .section4 .mac {
    width: 300px;
    margin-left: 20px;
  }
  .section3 {
    font-size: 10px;
    text-align: left;
    margin-left: 0;
    text-align: center;
  }
  .faq h1 {
    font-size: 20px;
  }
  .faq li {
    width: 200px;
    height: 50px;
    text-align: center;
  }
  .gradient .start {
    font-size: 7px;
  }
  .gradient button {
    width: 80px;
  }
  button {
    width: 80px;
    font-size: 7px;
  }
}
